<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    {% block meta %}
        <title>Sirius || Main</title>
    {% endblock %}
</head>
<body>
<div>
    Проводятся технические работы. Извините за неудобства.
</div>
</body>
</html>
