{% extends 'AppBundle:base.html.twig' %}

{% block body %}

    {{ widget('sliders.home')|raw }}

    <section class="content">
        <div class="wrap">
            <div class="content__i">


                <div class="promo">
                    <div class="promo__i">

                        <div class="row">
                            <div class="item item_wide">
                                <a href="#">
                                    <div class="item__i">

                                        <div class="img">
                                            <img src="img/demo/promo1.jpg" alt="#"/>

                                            <div class="title title_right">
                                                <div class="title__i">
                                                    <h3>РАСПРОДАЖА</h3>

                                                    <h3><strong>МЕСЯЦА</strong></h3>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <div class="bottom__i">
                                                    <p>Спортивные костюмы</p>

                                                    <div class="btn-row">
                                                        <a href="#" class="btn btn_black_transparent">Купить сейчас</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <!--item end-->

                            <div class="item">
                                <a href="#">
                                    <div class="item__i">

                                        <div class="img">
                                            <img src="img/demo/promo2.jpg" alt="#"/>


                                            <div class="bottom">
                                                <div class="bottom__i">
                                                    <p>Толстовки</p>

                                                    <div class="btn-row">
                                                        <a href="#" class="btn btn_black">Купить сейчас</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <!--item end-->
                            <div class="item">

                                <div class="item__i">

                                    <div class="img">
                                        <img src="img/demo/promo3.jpg" alt="#"/>

                                        <div class="title title_left">
                                            <div class="title__i">
                                                <h2>НОВАЯ</h2>
                                                <h4>КОЛЕКЦИЯ</h4>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="bottom__i">
                                                <p>Штаны</p>

                                                <div class="btn-row">
                                                    <a href="#" class="btn btn_black_transparent">Купить сейчас</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--item end-->
                            <div class="item">
                                <div class="item__i">

                                    <div class="img">
                                        <img src="img/demo/promo4.jpg" alt="#"/>

                                        <div class="bottom">
                                            <div class="bottom__i">
                                                <p>Майки</p>

                                                <div class="btn-row">
                                                    <a href="#" class="btn btn_black">Купить сейчас</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--item end-->
                            <div class="item">
                                <div class="item__i">

                                    <div class="img">
                                        <img src="img/demo/promo5.jpg" alt="#"/>

                                        <div class="title title_right title_discount title_white">
                                            <div class="title__i">
                                                <h5>СКИДКИ</h5>
                                                <h6>ДО</h6>

                                                <h3><strong>-50</strong>%</h3>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <div class="bottom__i">
                                                <p>Толстовки</p>

                                                <div class="btn-row">
                                                    <a href="#" class="btn btn_black_transparent">Купить сейчас</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--item end-->
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
