/src/**/*~
/app/bootstrap.php.cache
/app/cache/*
/app/spool/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/compass.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/node_modules/
/vendor/
/web/css/*
/web/js/*
/web/images/*
/web/media/*
/web/bundles/*
/web/bower_components/*
/web/img/social/*
/.idea/*
