<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>MyTEX || {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets 'bundles/app/sass/screen.scss' filter='compass' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        end!
    </body>
    </head>
</html>
