{% if slides is not empty %}
<section class="slider">
    <div class="slider__i">
        {% for slide in slides %}
            <div class="item">
                {% set picture = '/img/slider/'~slide.picture %}
                <img src="{{ picture | imagine_filter('main_slider') }}" alt="{{ slide.title }}"/>
                <div class="item__i">
                    <div class="wrap">
                        <div class="text">
                            <div class="text__i">
                                {{ slide.description|raw }}
                            </div>
                            <div class="btn-row">
                                <a href="{{ slide.alias }}" class="btn btn_black">Купить сейчас</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="controls">
        <a href="#" class="prev"><i class='icon icon-slider-prev'></i><i class='icon icon-slider-prev-hover hover'></i></a>
        <a href="#" class="next"><i class='icon icon-slider-next'></i><i class='icon icon-slider-next-hover hover'></i></a>
    </div>
</section>
{% endif %}