<section class="slider">
    <div class="slider__i">

        <div class="item">
            <img src="/img/demo/slide.jpg" alt="#"/>


            <div class="item__i">
                <div class="wrap">
                    <div class="text">
                        <div class="text__i">
                            <h2>Энергия берет верх</h2>

                            <p>Энергичная амортизация для бега без границ. Энергичная
                                амортизация для бега без границ.</p>
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn btn_black">Купить сейчас</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="/img/demo/slide.jpg" alt="#"/>


            <div class="item__i">
                <div class="wrap">
                    <div class="text">
                        <div class="text__i">
                            <h2>Слайд 2</h2>

                            <p>Энергичная амортизация для бега без границ. Энергичная
                                амортизация для бега без границ.</p>
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn btn_black">Купить сейчас</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/img/demo/slide.jpg" alt="#"/>


            <div class="item__i">
                <div class="wrap">
                    <div class="text">
                        <div class="text__i">
                            <h2>Слайд 3</h2>


                            <p>Энергичная амортизация для бега без границ. Энергичная
                                амортизация для бега без границ.
                                Энергичная
                                амортизация для бега без границ.
                                Энергичная
                                амортизация для бега без границ.</p>
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn btn_black">Купить сейчас</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="controls">
        <a href="#" class="prev"><i class='icon icon-slider-prev'></i><i class='icon icon-slider-prev-hover hover'></i></a>
        <a href="#" class="next"><i class='icon icon-slider-next'></i><i class='icon icon-slider-next-hover hover'></i></a>
    </div>
</section>