{% extends 'AppBundle:base.html.twig' %}

{% block out_class %} out_order {% endblock %}

{% block body %}
    <section class="content">
        <div class="darkness"></div>
        <div class="wrap">
            <div class="content__i">
                <div class="order-approve">
                    <div class="order-approve__i">
                        <h2>Подтверждение заказа</h2>
                        <p>
                            Заказ №{{ order.id }} принят.
                            {% if options.params.order_approve.value is defined and options.params.order_approve.active == true %}
                            {{ options.params.order_approve.value }}
                            {% endif %}
                        </p>
                        <p><a href="{{ continueShopUrl }}" class="continue">Продолжить покупки</a></p>
                    </div>
                </div>
                {{ widget('products.recommended')|raw }}
            </div>
        </div>
    </section>
    <div class="push"></div>
{% endblock %}
