<nav class="f-nav">
    <div class="f-nav__i clearfix">

        <div class="col">
            <h2>Каталог товаров</h2>
            <ul>
                <li><a href="#">Костюмы</a></li>
                <li><a href="#">Шорты</a></li>
                <li><a href="#">Брюки</a></li>
                <li><a href="#">Футболки</a></li>
                <li><a href="#">Толстовки</a></li>
                <li><a href="#">Жилетки</a></li>
                <li><a href="#">Куртки</a></li>
            </ul>
        </div>

        {% for menu in menus %}
            <div class="col">
                <h2>{{ menu.title }}</h2>
                <ul>
                    {% for item in menu.getItems() %}
                        <li><a href="#">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    </div>
</nav>