<nav class="top-nav">
    <div class="top-nav__i clearfix">

        <ul>
            <li><a href="#">костюмы</a></li>
            <li ><a href="#">Шорты</a>
                <div class="sub-nav">
                    <div class="sub-nav__i">
                        <ul>
                            <li><a href="#">Шорты</a></li>
                            <li><a href="#">Шорты</a></li>
                            <li><a href="#">Бриджи</a></li>
                            <li><a href="#">Бриджи</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li ><a href="#">Брюки</a>

                <div class="sub-nav">
                    <div class="sub-nav__i">
                        <ul>
                            <li><a href="#">Шорты</a></li>
                            <li><a href="#">Шорты</a></li>
                            <li><a href="#">Бриджи</a></li>
                            <li><a href="#">Бриджи</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li ><a href="#">Футболки</a>
                <div class="sub-nav">
                    <div class="sub-nav__i">
                        <ul>
                            <li><a href="#">Шорты</a></li>
                            <li><a href="#">Шорты</a></li>
                            <li><a href="#">Бриджи</a></li>
                            <li><a href="#">Бриджи</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#">Толстовки</a></li>
            <li ><a href="#">Жилетки</a>
                <div class="sub-nav">
                    <div class="sub-nav__i">
                        <ul>
                            <li><a href="#">Шорты</a></li>
                            <li><a href="#">Шорты</a></li>
                            <li><a href="#">Бриджи</a></li>
                            <li><a href="#">Бриджи</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#">куртки</a></li>
        </ul>
    </div>
</nav>