{{ include('AppBundle:shop/partials/sorting_and_pagination.html.twig', { 'items': data.products }) }}

<div class="product-list">
    <div class="product-list__i">
        {% for item in data.products %}
            {% if item.chcount is defined %}
                {% set item = item.0 %}
            {% endif %}
            {{ include('AppBundle:shop:product/list_item.html.twig', { 'item': item }) }}
        {% endfor %}
    </div>
</div>

{{ include('AppBundle:shop/partials/sorting_and_pagination.html.twig', { 'items': data.products }) }}