{% extends 'AppBundle:base.html.twig' %}

{% block out_class %} out_sub {% endblock %}

{% block body %}
    <section class="content">
        <div class="wrap">
            <div class="content__i">

                <div class="breadcrumbs">
                    <div class="breadcrumbs__i">
                        <ul>
                            <li><a href="#">На главную</a></li>
                            <li>Акции</li>
                        </ul>
                    </div>
                </div>
                <!--breadcrumbs end-->

                <h2 class="page-title">
                    Акции
                </h2>

                <div class="action-list">
                    <div class="action-list__i">
                        {% if shares.pageCount > 1 %}
                            <div class="pager">
                                <div class="pager__i">
                                    {{ knp_pagination_render(shares) }}
                                </div>
                            </div>
                        {% endif %}

                        {% if shares.items is empty %}
                            <h3>На данный момент акций нет</h3>
                        {% else %}
                            <div class="item-list">
                                {% for share in shares %}
                                    {{ include('AppBundle:share/partials/_item.html.twig', { share: share }) }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if shares.pageCount > 1 %}
                            <div class="pager">
                                <div class="pager__i">
                                    {{ knp_pagination_render(shares) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!--action-list end-->

                {{ widget('products.recentlyReviewed')|raw }}

            </div>
        </div>
    </section>
{% endblock %}
