<footer class="footer">
    <div class="footer__top">
        <div class="wrap">

            <div class="contacts">
                <div class="contacts__i">
                    <ul>
                        <li><i class="icon icon-mobile"></i>+38 065 325 65 32</li>
                        <li>+38 056 356 35 36</li>
                        <li>+38 099 000 39 88</li>
                        <li class="email"><i class="icon icon-email"></i><a href="mailto:sirius@mail.com">sirius@mail.com</a></li>
                    </ul>
                </div>
            </div>

            <div class="share">
                <div class="share__i">
                    <ul>
                        <li><a href="#"><i class="icon icon-fb"></i></a></li>
                        <li><a href="#"><i class="icon icon-vk"></i></a></li>
                        <li><a href="#"><i class="icon icon-gplus"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="footer__bottom">
        <div class="wrap">
            <div class="main">

                {{ widget('menus.footerMenus')|raw }}

                <div class="back-call">
                    <div class="back-call__i">
                        <h2>Обратный звонок</h2>

                        <form method="post">
                            <div class="inp">
                                <input type="text" class="phone-inp" name="phone" placeholder="Введите Ваш номер"/>
                            </div>
                            <div class="inp">
                                <div class="btn-wrap">
                                    <input type="submit" class="btn btn_black_transparent"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <p class="copy">&copy; 2015, Sirius - женская спортивная одежда</p>
        </div>
    </div>
</footer>

<div class="popups" style="display: none">
    <div class="text-popup" id="email-change">
        <div class="text-popup__i">
            <p class="email">Новый пароль был выслан на электронную почту</p>

            <p class="email"><a href="mailto:sfdgsfhsfhs@cgsdg.com">sfdgsfhsfhs@cgsdg.com</a></p>

            <div class="btn-row">
                <a href="#" class="btn btn_blue close-popup">OK</a>
            </div>
        </div>
    </div>

    <div class="text-popup" id="tnx">
        <div class="text-popup__i">
            <p>Спасибо</p>
            <p>В ближайшее время с Вами свяжется менеждер</p>

            <div class="btn-row">
                <a href="#" class="btn btn_blue close-popup">OK</a>
            </div>
        </div>
    </div>
</div>