<div class="text-popup" id="msg_popup">
    <div class="text-popup__i">
        <div class="js_message"></div>

        <div class="btn-row">
            <a href="#" class="btn btn_blue close-popup">Закрыть</a>
        </div>
    </div>
</div>