<a href="#" class="cart-btn"><i class="icon icon-cart"></i><i class="icon icon-cart-hover hover"></i><span>24</span></a>

<div class="cart-drop">
    <div class="cart-drop__i">
        <p>В корзине 24 товара</p>
        <p>  на cумму 380 грн.</p>

        <div class="inp">
            <a href="#" class="btn btn_blue">Оформить заказ</a>
        </div>

        <div class="to-cart">
            <a href="#" class="go-to-cart">В корзину</a>
        </div>
    </div>
</div>