<div class="share-counter-wrap">
    <h2>До конца акции осталось:</h2>
    <div id="countdown" class="share-counter clearfix"
         data-count-end="{{ share.endTime.format('Y-m-d H:i:s') }}">
        <div>
            <p class="days">00</p>
            <p class="timeRefDays">Дней</p>
        </div>
        <div>
            <p class="hours">00</p>
            <p class="timeRefHours">Часов</p>
        </div>
        <div>
            <p class="minutes">00</p>
            <p class="timeRefMinutes">Минут</p>
        </div>
        <div>
            <p class="seconds">00</p>
            <p class="timeRefSeconds">Секунд</p>
        </div>
    </div>
</div>
