<div class="breadcrumbs">
    <div class="breadcrumbs__i">
        <ul>
            {% if breadcrumbs.0.name is defined and breadcrumbs.0.name != 'TM Sirius' %}
            <li><a href="{{ url('category', {'category': 'all'}) }}">{% trans %}TM Sirius{% endtrans %}</a></li>
            {% endif %}
            {% for item in breadcrumbs %}
                <li>
                    {% if item.url is defined %}
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>