{{ form_start(form, {'attr': {'novalidate': true, 'class': 'js_auto_ajax_form', 'data-id': size.id}}) }}
    <div class="inp amount-control single-buyer-amount-control">
        <a href="#" class="minus"></a>
        {{ form_widget(form.quantity, {'attr': {'data-placeholder': 'К-во'}}) }}
        <a href="#" class="plus"></a>
    </div>
    {{ form_widget(form.size, {'attr': {'class': 'js_item_size_id'}}) }}
{{ form_end(form) }}
