{% if recommended is not empty %}
<div class="last-viewed">
    <h2>Рекомендуем также</h2>
    <div class="last-viewed__i">
        {% for item in recommended %}
            <div class="item">
                <a href="{{ url('product', {'category': item.products.baseCategory.alias,'product': item.alias}) }}">
                    <div class="item__i">
                        <div class="img">
                            <img src="{{ (item.images.0.link ?: param('no_image')) | imagine_filter('medium') }}" alt="#"/>
                        </div>
                        <div class="info">
                            <div class="info__i">
                                <p><strong>{{ item.products.name }}</strong></p>
                                <p class="price">{{ widget('products.prices', item)|raw }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div><!--item end-->
        {% endfor %}
    </div>
</div><!--last-viewed end-->
{% endif %}