<div class="last-viewed">
    <h2>Рекомендуем также</h2>
    <div class="last-viewed__i">

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-1.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-2.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-3.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-4.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-1.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-2.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-3.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-4.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-1.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-2.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-3.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

        <div class="item">
            <a href="#">
                <div class="item__i">
                    <div class="img">
                        <img src="/img/demo/last-4.jpg" alt="#"/>
                    </div>
                    <div class="info">
                        <div class="info__i">
                            <p><strong>Befree</strong></p>
                            <p>250 грн.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div><!--item end-->

    </div>
</div><!--last-viewed end-->
