<a href="#" class="js_wish_button add-wish {% if addedFlag %} active {% endif %}" data-id="{{ item.id }}">
    <i class="icon icon-wish-grey"></i>
    <i class="icon icon-wish-black hover"></i>
    <span class="tooltip">
        <span class="tooltip__i add-wish-not-added">Добавить в список желаний</span>
        <span class="tooltip__i add-wish-added">Удалить из списка желаний</span>
    </span>
</a>