<div class="row" id="orderSizes">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">{{ form_tab.name }}</h4>
            </div>
            <div class="box-body">
                {% if admin.subject.users and admin.subject.users.hasRole('ROLE_WHOLESALER') %}
                    {% include 'AppAdminBundle:admin/orders/wholesaler_sizes_table.html.twig'%}
                {% else %}
                    {% include 'AppAdminBundle:admin/orders/sizes_table.html.twig'%}
                {% endif %}
                {% if admin.baseRouteName == 'new_orders' %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-success btn-sm btn-outline btn-layout-1 sonata-ba-action js_order_add_size pull-right">
                                <i class="fa fa-plus-circle"></i> Добавить размер
                            </a>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-success btn-sm btn-outline {{ admin.baseRouteName == 'new_orders' ? 'btn-layout-2' : 'btn-layout-1' }} sonata-ba-action pull-right"
                           href="{{ path(admin.baseRouteName ~ '_get_invoice', {id: admin.subject.id}) }}">
                            <i class="fa fa-plus-circle"></i>{{ 'btn_invoice'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
