<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">{{ form_tab.name }}</h4>
            </div>
            <div class="box-body">
                <div class="text-right"><strong>Всего на {{ form_tab.totalSum }}</strong></div>
                <div class="js_pagination_content">
                    {% include 'AppAdminBundle:admin/orders/orders_paginated_list.html.twig' with {orders: form_tab.otherOrders} %}
                </div>
            </div>
        </div>
    </div>
</div>
