<div class="row js-waybill-fields">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">{{ form_tab.name }}</h4>
            </div>
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields clearfix">
                    <div class="col-md-6">
                        {{ form_row(form.ttn) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
