<div id="order-sizes-select" title="Выбор размера" class="order-size-popup">
    <div class="js_order_sizes_ajax"></div>

    <div class="loading-holder">
        <div class="loading-cell">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
</div>