<div id="share-sizes-select" title="Выбор товаров" class="share-size-popup">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#selectFilters">Выбор фильтров</a></li>
        <li><a data-toggle="tab" href="#selectSizes">Выбор товаров</a></li>
    </ul>

    <div class="tab-content share-sizes-select-content">
        <div id="selectFilters" class="tab-pane fade in active clearfix"></div>
        <div id="selectSizes" class="tab-pane fade clearfix"></div>
    </div>

    <div class="loading-holder">
        <div class="loading-cell">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
</div>
