<div class="opt-loyal-info">
    <div class="opt-loyal-info__i">
        <h2>Программа «Оптовые скидки»</h2>

        <p>Мы специально для Вас создали легкие условия оптовых заказов, а также
            прогрессивную систему персональных скидок!</p>

        <div class="item">
            <div class="item-title">
                <h2><span>Как работает программа «Оптовые скидки»  </span></h2>
            </div>

            <div class="item__i">
                <i class="icon icon-discount-cart"></i>
                <p><strong>Первая покупка:</strong> <br>

                    Минимальный заказ <strong>от 500 гривен</strong> – при этом цена для
                    Вас будет <strong>минус
                        10%</strong> от розничной
                    стоимости при заказе на сумму <strong>от 2500</strong> – Вы
                    получаете оптовую цену на
                    весь ассортимент
                    продукции
                </p>

                <p><strong>Вторая и последующие покупки:</strong> <br>
                    Минимальный заказ <strong>от 500 гривен</strong> – Вы получаете
                    <strong>оптовую цену</strong> на весь ассортимент
                    продукции
                </p>
            </div>
        </div>

        <div class="item">
            <div class="item-title">
                <h2><span>Накопительная система</span></h2>
            </div>

            <div class="item__i">
                <i class="icon icon-card"></i>
                <p>
                    На каждые 10 000 гривен, использованные на закупку продукции TM
                    Sirius, начисляется
                    дополнительная скидка минус 1% от оптовой цены, но не более 10%
                    суммарно.
                </p>

                <p><strong>Пример: </strong> <br>
                    Вы, уже сделали несколько покупок, их общая сумма 31000 гривен.
                    <br>
                    Значит Ваша дополнительная скидка – минус 3% от оптовой цены.
                </p>
            </div>
        </div>

        <div class="item">
            <div class="item__i">
                <i class="icon-attention"></i>

                <p>Закупки должны проводиться не реже, чем 1 раз в три месяца. <br>
                    На товары по акции или с распродаж скидки не действуют!
                </p>
            </div>
        </div>

    </div>
</div>
