<div class="my-discount">
    <h2>Мои скидки</h2>

    <div class="my-discount-info">
        <p>Состояние на: <strong>{{ (date('d.m.Y')) }}</strong></p>

        <div class="discount-size">
            <table>
                <tbody><tr>
                    <td>Ваш бонусный счет</td>
                    <td><span>25  <strong>бонусов</strong></span></td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>