@import "base";

@include font-face ('black', font-files(
    '../fonts/MuseoSansBlack.eot',
    '../fonts/MuseoSansBlack.eot?#iefix',
    '../fonts/MuseoSansBlack.woff',
    '../fonts/MuseoSansBlack.ttf')
);

@include font-face ('blackItalic', font-files(
    '../fonts/MuseoSansBlackItalic.eot',
    '../fonts/MuseoSansBlackItalic.eot?#iefix',
    '../fonts/MuseoSansBlackItalic.woff',
    '../fonts/MuseoSansBlackItalic.ttf')
);

@include font-face ('regular', font-files(
    '../fonts/MuseoSansRegular.eot',
    '../fonts/MuseoSansRegular.eot?#iefix',
    '../fonts/MuseoSansRegular.woff',
    '../fonts/MuseoSansRegular.ttf')
);

@include font-face ('bold', font-files(
    '../fonts/MuseoSansBold.eot',
    '../fonts/MuseoSansBold.eot?#iefix',
    '../fonts/MuseoSansBold.woff',
    '../fonts/MuseoSansBold.ttf')
);

img {
    max-width: 100% !important;
}

label.error {
    color: red;
    line-height: 25px;
}

label {
    padding-left: 0;
    text-align: left;
}

.logo {
    img {
        max-width: 60px !important;
    }
}

.charackteristic-category {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 5px; 
    h4 {
        font-weight: 600;
        font-size: 12pt;
        text-decoration: underline;
    }
    label.control-label {
        width: 82%;
        margin-right: 7px;
        font-weight: 400;
        display: inline-block;
        float: right;
    }
    label.control-label.hover {
        text-decoration: underline;
    }
    >.form-group {
        width: 19%;
        margin: 0;
        display: inline-block;
    }
}

div[class="form-group"][id$="_images"] {
    span[id$="_images"]>div {
        /*margin-top: 80px;*/
        .product_model_image_item {
            display: inline-block;
            width: auto;
        .tab-content {
            display: inline-block;
            float: left;
            label.control-label {
                display: none;
            }
        }
        >.form-group {
            display: inline-flex;
            float: left;
            margin-top: 235px;
            margin-left: -100px;
            label {
                margin-right: 5px;
            }
        }
        }
    }
    div {
        .sonata-ba-collapsed-fields {
            display: inline-block;
        }
        ul {
            display: none;
        }
    }
    span.sonata-ba-field-help {
        position: relative;
        display: flex;
        min-width: 120px;
        margin: 35px 10px 0;
        border-style: solid;
        border-width: 1px;
        padding-bottom: 35px;
        img.admin-preview {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            /*position: absolute;*/
            max-width: 350px;
            height: 200px;
            margin: 0 auto;
        }
    }
    img.admin-preview {
        height: 200px;
        max-width: 350px;
        max-height: 200px;
        margin: 35px 10px 0;
    }
    label {
        width: 100%;
    }
    .drag_n_drop--imgPath{
        height: 100px;
        margin-bottom: 10px;
        cursor: pointer;
        border: 2px solid #e0e0e0;
        background: #f9f9f9;
        border-radius: 5px;
        &.active-drag-block {
            background: #3c8dbc;
        }
        p {
            margin-top: 20px;
            text-align: center;
        }
        i.fa {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.select2-container.select2-container-multi {
    width: 100%;
}

.box-body {
    &.table-responsive {
        //overflow-x: auto;
    }
}

.table-input {
    border: none;
    padding: 0;
    height: 20px;
}

.editable-cell {
    input[type="number"] {
        padding: 0 0 0 5px;
    }
    .fa {
        float: right;
        font-size: 24px;
        cursor: pointer;
    }
}

.login-block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 460px;
    margin: -100px 0 0 -250px;
    box-shadow: 2px 2px 10px #ccc;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.view_link, .edit_link , .delete_link, .clone_link{
    font-size: 0px;
    i {
        font-size: 12px;
    }
}

.content .filter_container {
    .form-group {
        width: 24%;
        float: left;
        margin-right: 1%;
        label {
            white-space: nowrap;
        }
    }
    > .btn {
        margin-top: 24px;
    }
    .form-group {
        .sonata-ba-field {
            line-height: 34px;
        }
        .select2-container .select2-choice {
            height: 34px;
            line-height: 34px;
        }
    }
}

.ui-widget-overlay {
    z-index: 1030;
}

.ui-front {
    z-index: 1030;
}

.ui-dialog-content {
    .spinner {
        margin: 0 auto 0 auto;
    }
    .loading-holder {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
    }
    .loading-cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    &.loading {
        .loading-holder {
            display: table;
        }
    }
}

.order-size-popup {
    font-size: 14px;
    display: none;
    .table {
        td {
            vertical-align: middle;
        }
    }
    .size-row {
        display: none;
    }
    .model-row {
        i {
            &:before {
                content: "\e114";
                box-sizing: border-box;
                position: relative;
                top: 1px;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                padding-right: 5px;
            }
        }
        &.active {
            i {
                &:before {
                    content: "\e113";
                }
            }
        }
    }
    .size-count-cell {
        width: 60px;
        padding: 5px 0;
        input {
            width: 60px;
            text-align: right;
        }
    }
    .sizes-filter {
        padding-right: 15px;
        .form-group {
            padding-right: 0;
        }
    }
    .list-group-item {
        padding: 5px 10px;
    }
}

.ui-dialog.ui-dialog-material {
    .ui-widget-header {
        border: none;
        background: none;
        font-size: 18px;
        font-weight: normal;
    }
    .ui-dialog-content {
        padding: 0 15px;
    }
    .ui-dialog-titlebar {
        padding: 10px 15px;
    }
}

.order-history {
    overflow-y: scroll;
    height: 100px;
    ul {
        width: 90%;
    }
}

.share-size-popup {
    @extend .order-size-popup;
    .tab-pane {
        position: relative;
        height: 100%;
    }
}
.share-sizes-select-content {
    padding-top: 15px;
    height: 100%;
}

.popup-filters {
    padding-top: 8px;
    .form-group-content {
        max-height: 250px;
        overflow-y: auto;
    }
    .form-group {
        width: 99.9%;
    }
    .list-unstyled {
        label {
            font-weight: 400;
        }
    }
}

input#image_upload_file {
    display: none;
}
#image_upload_file_container {
    padding-bottom: 10px;
}
.lb-image{
    max-width: inherit !important;
}