{% for item in items %}
    {% if item.images.count() > 1 %}
        <div class="product-popup" id="product-popup-{{ item.id }}">
            <div class="product-popup__i">
                <div class="big-img">
                    {% for image in item.images %}
                        <img src="{{ image.link | imagine_filter('medium') }}" />
                    {% endfor %}
                </div>
                <a href="#" class="thumb-prev"></a>
                <a href="#" class="thumb-next"></a>
            </div>
        </div>
    {% endif %}
{% endfor %}
