<div class="text-popup" id="preorder-login">
    <div class="text-popup__i">
        <p>Предзаказ доступен только зарегистрированым пользователям.</p>

        <p>Пожалуйста, зарегистрируйтесь на сайте</p>

        <div class="btn-row">
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn_blue">РЕГИСТРАЦИЯ</a>
        </div>
    </div>
</div>