<div class="item-title">
    <a href="#">
        <span>Новый заказ</span>
    </a>
</div>
<div class="item-drop">
    <div class="item-drop__i">
        <div class="new-buyer">
            {{ include('AppBundle:shop/cart/partials/order_form.html.twig', { 'form': form }) }}
        </div>
    </div>
</div>